In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd 'drive/My Drive/'
!ls

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('Mount_Pleasant_Real_Estate_Data.csv')
df.head()

      ID List Price Duplex?  ...  Golf Course?  Fireplace?  Number of Fireplaces
0  115.0   $369,900     Yes  ...            No         Yes                   1.0
1  117.0   $375,000     Yes  ...            No         Yes                   1.0
2    5.0   $769,900      No  ...            No         Yes                   1.0
3    9.0   $699,990      No  ...            No         Yes                   1.0
4   62.0   $436,625      No  ...            No          No                   0.0

[5 rows x 24 columns]

In [ ]:
df['New Owned?'] = df['New Owned?'].apply(lambda x: 0 if x=='No' else 1)
df['Has Pool?'] = df['Has Pool?'].apply(lambda x: 0 if x=='No' else 1)
df['Has Dock?'] = df['Has Dock?'].apply(lambda x: 0 if x=='No' else 1)
df['Fenced Yard'] = df['Fenced Yard'].apply(lambda x: 0 if x=='No' else 1)
df['Screened Porch?'] = df['Screened Porch?'].apply(lambda x: 0 if x=='No' else 1)
df['Golf Course?'] = df['Golf Course?'].apply(lambda x: 0 if x=='No' else 1)
df['Fireplace?'] = df['Fireplace?'].apply(lambda x: 0 if x=='No' else 1)
df['Duplex?'] = df['Duplex?'].apply(lambda x: 0 if x=='No' else 1)
X = df.drop(['List Price','ID','Baths - Full','House Style','Misc Exterior','Subdivision','Amenities'],axis =1)
y = df.iloc[:, 1]

In [ ]:
X = X[:-25]
X
y= y[:-25]
y

0        $369,900
1        $375,000
2        $769,900
3        $699,990
4        $436,625
          ...
240    $1,800,000
241    $1,495,000
242    $1,399,000
243    $1,250,000
244    $1,100,000
Name: List Price, Length: 245, dtype: object

In [ ]:
y= y.str.replace('$', '')
y= y.str.replace(',', '')
y.astype('float')

0       369900.0
1       375000.0
2       769900.0
3       699990.0
4       436625.0
         ...
240    1800000.0
241    1495000.0
242    1399000.0
243    1250000.0
244    1100000.0
Name: List Price, Length: 245, dtype: float64

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

# fit linear regression
model.fit(X, y)

# get the slope and intercept of the line best fit
print(model.intercept_)
# -224.49884070545772

print(model.coef_)
# 5.96177381

-7648082.159549431
[-9.28037225e+04 -4.20679759e+04  4.97668975e+04 -6.66570991e+03
 -2.01032435e+04  1.44628594e+02  3.87608871e+03  5.39148802e+04
  9.43343497e+02  1.82414805e+04  1.21229471e+05  3.74694408e+05
  2.13490796e+03 -1.10208877e+04  1.26220058e+04 -8.10464876e+04
  8.24926092e+04]

In [ ]:
y_hat= model.predict(X)
one =np.ones(25)
np.insert(y_hat, 0, one)
print(len(y_hat))

245

In [ ]:
y =y.astype(float)

In [ ]:
df = df[:-25]

In [ ]:
df['y_hat']= y_hat
df['y']= y
df['e']= df['y']-df['y_hat']
df['e2'] = df['e']*df['e']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df.head()

      ID List Price  Duplex?  ...         y              e            e2
0  115.0   $369,900        1  ...  369900.0   39368.929076  1.549913e+09
1  117.0   $375,000        1  ...  375000.0   44468.929076  1.977486e+09
2    5.0   $769,900        0  ...  769900.0  204398.822726  4.177888e+10
3    9.0   $699,990        0  ...  699990.0   58293.502736  3.398132e+09
4   62.0   $436,625        0  ...  436625.0  -21526.652399  4.633968e+08

[5 rows x 28 columns]

In [ ]:
ss = np.sqrt(df['e2'].sum()/245-2)
print(ss)

94008.17643085714

In [ ]:
SE=[]
Bi = model.coef_
variable =[df['Duplex?'],df['Bedrooms'],df['Baths - Total'],df['Baths - Half'],df['Stories'], df['Square Footage'],df['Year Built'],df['Acreage'],df['New Owned?'],df['Covered Parking Spots'],df['Has Pool?'],df['Has Dock?'],df['Fenced Yard'],df['Screened Porch?'],df['Golf Course?'],df['Fireplace?'],df['Number of Fireplaces']]
variable = np.sum(variable,axis=1)
print(len(variable))
var = np.sqrt(variable)
len(var)
SE = ss/ var
len(SE)

17

17

In [ ]:
sig_level = 0.1 
t_val =  Bi/SE 
for t in t_val:
  if t<

In [ ]:
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from scipy import stats
import matplotlib.pyplot as plt

X2 = sm.add_constant(X) 
est2 = sm.OLS(y.astype(float), X.astype(float)).fit()
print("summary()\n",est2.summary())
print("pvalues\n",est2.pvalues)
print("rsquared\n",est2.rsquared)
print("rsquared_adj\n",est2.rsquared_adj)

summary()
                                  OLS Regression Results
=======================================================================================
Dep. Variable:             List Price   R-squared (uncentered):                   0.982
Model:                            OLS   Adj. R-squared (uncentered):              0.981
Method:                 Least Squares   F-statistic:                              729.2
Date:                Mon, 07 Dec 2020   Prob (F-statistic):                   4.06e-188
Time:                        19:25:32   Log-Likelihood:                         -3156.4
No. Observations:                 245   AIC:                                      6347.
Df Residuals:                     228   BIC:                                      6406.
Df Model:                          17
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Duplex?               -8.776e+04    2.5e+04     -3.514      0.001   -1.37e+05   -3.86e+04
Bedrooms              -4.298e+04    1.3e+04     -3.313      0.001   -6.85e+04   -1.74e+04
Baths - Total          5.587e+04   1.38e+04      4.053      0.000    2.87e+04     8.3e+04
Baths - Half          -1.114e+04   1.36e+04     -0.819      0.414    -3.8e+04    1.57e+04
Stories               -1.734e+04   1.45e+04     -1.199      0.232   -4.58e+04    1.12e+04
Square Footage          146.6490     14.383     10.196      0.000     118.308     174.990
Year Built               49.7157     20.760      2.395      0.017       8.809      90.622
Acreage                4.837e+04    2.2e+04      2.196      0.029    4960.961    9.18e+04
New Owned?             4.454e+04   1.49e+04      2.992      0.003    1.52e+04    7.39e+04
Covered Parking Spots  1.955e+04   8829.591      2.214      0.028    2152.429    3.69e+04
Has Pool?              1.094e+05   2.74e+04      3.988      0.000    5.53e+04    1.63e+05
Has Dock?               3.74e+05   2.72e+04     13.763      0.000     3.2e+05    4.28e+05
Fenced Yard            1.023e+04   1.77e+04      0.579      0.563   -2.46e+04     4.5e+04
Screened Porch?       -6523.2841   1.49e+04     -0.439      0.661   -3.58e+04    2.28e+04
Golf Course?            296.7744   1.65e+04      0.018      0.986   -3.22e+04    3.28e+04
Fireplace?            -7.829e+04   3.25e+04     -2.406      0.017   -1.42e+05   -1.42e+04
Number of Fireplaces   7.608e+04   2.57e+04      2.964      0.003    2.55e+04    1.27e+05
==============================================================================
Omnibus:                       26.760   Durbin-Watson:                   1.685
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               71.294
Skew:                           0.454   Prob(JB):                     3.30e-16
Kurtosis:                       5.482   Cond. No.                     2.39e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.39e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
pvalues
 Duplex?                  5.321689e-04
Bedrooms                 1.072882e-03
Baths - Total            6.931609e-05
Baths - Half             4.138763e-01
Stories                  2.317792e-01
Square Footage           2.352986e-20
Year Built               1.743943e-02
Acreage                  2.912667e-02
New Owned?               3.077372e-03
Covered Parking Spots    2.780532e-02
Has Pool?                8.966573e-05
Has Dock?                8.903840e-32
Fenced Yard              5.632851e-01
Screened Porch?          6.612408e-01
Golf Course?             9.856755e-01
Fireplace?               1.691110e-02
Number of Fireplaces     3.355093e-03
dtype: float64
rsquared
 0.9819386166840198
rsquared_adj
 0.9805919345946704

In [ ]:
print("Null hypothesis Ho : no correlation")
for i in est2.pvalues:
  if i<0.01:
    print("reject null hypothesis")
  else:
    print("accept null hypothesis")

Null hypothesis Ho : no correlation
reject null hypothesis
reject null hypothesis
reject null hypothesis
accept null hypothesis
accept null hypothesis
reject null hypothesis
accept null hypothesis
accept null hypothesis
reject null hypothesis
accept null hypothesis
reject null hypothesis
reject null hypothesis
accept null hypothesis
accept null hypothesis
accept null hypothesis
accept null hypothesis
reject null hypothesis

In [ ]:
df = pd.read_csv('MLM.csv')
df.head()

         Date    Open    High    Low   Close  Adj Close   Volume
0  1994-02-17  25.500  25.875  24.50  24.625  16.823343  4478600
1  1994-02-18  24.750  25.000  24.25  24.625  16.823343   777900
2  1994-02-22  24.250  24.500  24.00  24.375  16.652548   361900
3  1994-02-23  24.375  24.500  23.25  23.250  15.883961   284500
4  1994-02-24  23.125  23.250  22.75  23.000  15.713171   494600

In [ ]:
df = pd.DataFrame(df)

In [ ]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [ ]:
df = df.drop(['Open','Low','High','Volume','Adj Close'],axis=1)
df['pct_change'] = df.Close.pct_change()
df['log_ret'] = np.log(df.Close) - np.log(df.Close.shift(1))
df['volatility'] = df['log_ret'].rolling(7).std()*np.sqrt(7)
df.head()
df.dropna()

In [ ]:
df.head()
df.dropna()

            Date       Close  pct_change   log_ret  volatility
7     1994-03-01   23.250000   -0.026178 -0.026527    0.066083
8     1994-03-02   22.750000   -0.021505 -0.021740    0.066507
9     1994-03-03   22.875000    0.005495  0.005479    0.068628
10    1994-03-04   23.125000    0.010929  0.010870    0.053946
11    1994-03-07   23.000000   -0.005405 -0.005420    0.053037
...          ...         ...         ...       ...         ...
6744  2020-12-01  275.470001    0.037044  0.036374    0.057991
6745  2020-12-02  273.459991   -0.007297 -0.007323    0.055751
6746  2020-12-03  281.149994    0.028121  0.027733    0.060567
6747  2020-12-04  284.940002    0.013480  0.013390    0.055590
6748  2020-12-07  283.420013   -0.005334 -0.005349    0.054867

[6742 rows x 5 columns]

In [ ]:
start_date = "2017-1-1"
end_date = "2017-12-30"

after_start_date = df['Date'] >= start_date
before_end_date = df['Date'] <= end_date
between_two_dates = after_start_date & before_end_date
filtered_dates = df.loc[between_two_dates]

In [ ]:
filtered_dates

            Date       Close  pct_change   log_ret  volatility
5947  2017-10-02  204.990005   -0.006013 -0.006031    0.037980
5948  2017-10-03  206.410004    0.006927  0.006903    0.036460
5949  2017-10-04  205.970001   -0.002132 -0.002134    0.031362
5950  2017-10-05  209.910004    0.019129  0.018948    0.032790
5951  2017-10-06  205.949997   -0.018865 -0.019045    0.033245
...          ...         ...         ...       ...         ...
6005  2017-12-22  211.100006    0.002898  0.002894    0.052124
6006  2017-12-26  217.570007    0.030649  0.030189    0.044559
6007  2017-12-27  218.199997    0.002896  0.002891    0.045179
6008  2017-12-28  217.460007   -0.003391 -0.003397    0.046102
6009  2017-12-29  221.039993    0.016463  0.016329    0.035272

[63 rows x 5 columns]

In [ ]:
mean = filtered_dates['log_ret'].mean()
std = filtered_dates['log_ret'].std()
print(mean)
print(std)

0.0011008193258182407
0.01652861274916962

In [ ]:
from scipy.stats import norm
filtered_dates['pdf'] =  norm.pdf(filtered_dates['log_ret'],mean,std)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
filtered_dates.head()

            Date       Close  pct_change   log_ret  volatility        pdf
5947  2017-10-02  204.990005   -0.006013 -0.006031    0.037980  21.991144
5948  2017-10-03  206.410004    0.006927  0.006903    0.036460  22.694073
5949  2017-10-04  205.970001   -0.002132 -0.002134    0.031362  23.678628
5950  2017-10-05  209.910004    0.019129  0.018948    0.032790  13.473755
5951  2017-10-06  205.949997   -0.018865 -0.019045    0.033245  11.483332

In [ ]:
start_date = "2018-1-1"
end_date = "2018-12-30"

after_start_date = df['Date'] >= start_date
before_end_date = df['Date'] <= end_date
between_two_dates = after_start_date & before_end_date
filtered_dates2 = df.loc[between_two_dates]
mean = filtered_dates2['log_ret'].mean()
std = filtered_dates2['log_ret'].std()
print(mean)
print(std)
filtered_dates2['pdf'] =  norm.pdf(filtered_dates2['log_ret'],mean,std)

-0.001270266885938579
0.023541743605860574

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [ ]:
import matplotlib.pyplot as plt


filtered_dates2['likelihood'] = np.log(filtered_dates2['pdf']).sum()
filtered_dates2['posterior'] = filtered_dates2['pdf']*filtered_dates2['likelihood']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
filtered_dates2.head()

            Date       Close  pct_change  ...        pdf  likelihood    posterior
6198  2018-10-01  184.360001    0.013245  ...  14.044325  144.962578  2035.901608
6199  2018-10-02  184.949997    0.003200  ...  16.644042  144.962578  2412.763303
6200  2018-10-03  185.350006    0.002163  ...  16.767174  144.962578  2430.612729
6201  2018-10-04  186.000000    0.003507  ...  16.601714  144.962578  2406.627304
6202  2018-10-05  182.610001   -0.018226  ...  13.007220  144.962578  1885.560076

[5 rows x 8 columns]

In [ ]:
start_date = "2019-1-1"
end_date = "2019-12-30"

after_start_date = df['Date'] >= start_date
before_end_date = df['Date'] <= end_date
between_two_dates = after_start_date & before_end_date
filtered_dates3 = df.loc[between_two_dates]
mean = filtered_dates3['log_ret'].mean()
std = filtered_dates3['log_ret'].std()
print(mean)
print(std)
filtered_dates3['pdf'] =  norm.pdf(filtered_dates3['log_ret'],mean,std)

0.0002214009424468079
0.010237162652455315

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
filtered_dates3['likelihood'] = np.log(filtered_dates3['pdf']).sum()
posterior_pdf_f1 = filtered_dates2['posterior'].to_numpy()
posterior_pdf_f2 = posterior_pdf_f1*199.95
print(posterior_pdf_f2)

[407078.52644721 482432.02247194 486001.01506691 481205.12937937
 377017.73727422 488601.55844035 453992.71548329 265234.3574684
 114772.14414517 477846.10589099 481961.80270143 346511.81223873
 195622.11989539 352648.75557918 478492.43198004 474553.1856399
 311338.69190772 490722.74075683 447126.42840961 197240.30305567
 342270.17846492   1267.36116304 202748.65684264 286908.90826529
 417682.10805165 416800.39412582   1121.23763552 488690.65946399
 475344.82193646 333948.40819063 410591.01489668 395524.37660455
 349627.09513681 463480.07490017 488216.1096785  389622.08889117
 490073.74425692 464364.67317506 487927.49234241 243272.95941201
 481470.66179201 203261.97219344 475128.89477727 214323.10653418
 336347.87400234  61608.33532075 469413.4289037  291747.28489178
 469773.03552503 434088.96594771 455263.14577419 356262.76267548
 487334.30142421 474556.85276698 456690.21866078 226994.26279631
 335208.25724063 404245.1357729  464652.42714098 137181.12558981
 481582.00982755 430608.61820952]